:root{
    --background: #F5F5F5;
    --background_form_blue-10: #EAF2FD;
    --blue_texts-100: #2A7AE4;
    --background_search: #F5F5F5;
    --title_products: #464646;
    --border-shadow-form: #C8C8C8;
    --font_placeholder: #A2A2A2;
    --border-raius-form: #FFFFFF;
    --header-background: #fff;
}