header{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #c0d3eb, #fff);
    align-items: center;    
    min-height: 75px;
    align-items: center;
    padding: 0 10px; 
}
@media screen and (min-width:1024px) {
    header{
        height: 10vh;
        padding: 0 80px;
        display: flex;
        justify-content: space-between;
        
    }
}