header{
    display: flex;    
    justify-content: space-between;
    align-items: center;
}
.leftside__header{
    display: flex;
    font-size: 15px;
    align-items: center;
    flex: 2.5;
    
}
.leftside__header img{
    height: 45px;
}
.leftside__header .alura__geek{
    display: flex;
}
.alura__geek .alura{
    color: #2A7AE4;
    margin-left: 5px;
}




.rightside__header{
    display: flex;
    
    
    flex: 2.5;
    height: 45px;
}
.rightside__header input{
    display: none;
}
.rightside__header button{
    background-color: #fff;
    border: none;
    margin-left: 80%;
}
