.box__images{
    background-image: linear-gradient(to right, #c0d3eb, #fff);
}
main{
    background-image: linear-gradient(to right, #c0d3eb, #fff);
}
footer{
    background-image: linear-gradient(to right, #c0d3eb, #fff);
}