
.box__images{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* contenedor de las 6 imagenes */
    
}

.box_title_sup{ /* TITLE OVER THE IMAGES*/
    padding: 0 1rem;
    justify-content: space-between;
    display: flex;
    margin: 0 10px 0 10px;
}
.container__images{ /* CONTAINER IAMGES */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    align-content: center;
    width: 100%;
    
}
#box-image{ /*contenedor de imagenes, nombre de producto, precio y texto para ver producto*/
    width: 200px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px 0 10px;
}

h4 a{
    text-decoration: none;
    color: var(--blue_texts-100);
}

.container__images img{
    width: 200px;
    height: 185px;
    border-radius: 10px;
    transition: .5s;
}
#box-image a{
    margin: 5px 0;
    text-decoration: none;
    cursor: pointer;
}
#box-image a{
    color: var(--blue_texts-100);

}
.container__images img:hover{
    scale: 1.1;
}

h2{
    color: var(--title_products);
}


/* ***********************responsive**************************** */


@media screen and (min-width: 1024px) {
    .box__images{
        
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .box_title_sup{
        font-size: 30px;
        justify-content: space-between;
        margin: 0 40px 0 80px; 
        text-shadow: 1px 2px 3px #fff;
    }
    .box_title_sup h4{
        font-size: 25px;
    }
    .box_title_sup h4 i{
        margin-left: 5px;
    }
    .container__images{
        
        width: 100%;
        
    }
    #box-image{
        width: 150px;
        margin: 0 80px;
    }



}